/* Classic MultiHack theme */
.theme-material .theme-dark{
    background: #182A33;
}

.theme-material .theme-mid{
    background: #263238;
}

.theme-material .theme-light{
    background: #40525B;
}

.theme-material .theme-font-primary{
    color : white;
}

.theme-material .theme-font-secondary{
    color: #7ea1b1;
}

.theme-material .theme-border{
    border-color: #5A6D76 !important;
}

.theme-material .theme-dark-border, input[type="text"] {
    border-color: #182A33 !important;
}

.theme-material .go-button{
    background: #40525B;
}

.theme-material .no-button {
    background: #182A33;
}

.theme-material .go-button:hover,
.theme-material .no-button:hover {
    outline: 2px solid #5A6D76;
}

.theme-material button:active {
    background-color: #5A6D76;
}

.theme-material a{
    color: #9a9a9a;
}

.theme-material input[type="text"]:focus {
    border-color: #40525B !important;
}

.theme-material *::-webkit-scrollbar-track {
    border-color: #5A6D76;
    background: #182A33;
}

.theme-material *::-webkit-scrollbar-thumb {
    background: #5A6D76;
}

.theme-material *::-webkit-scrollbar-thumb:hover {
    background: #648a9b;
}

.theme-material .modal {
    background: #0D2029;
}
/* ---------------- */


/* Atom-inspired theme */
.theme-atom .theme-dark{
    background: #222222;
    border: 1px black solid;
}

.theme-atom .theme-mid{
    background: #292c2f;
    border: 1px black solid;
}

.theme-atom .theme-light{
    background: #303030;
    border: 1px black solid;
}

.theme-atom .theme-font-primary{
    color : white;
}

.theme-atom .theme-font-secondary{
    color: rgb(239, 234, 225);
}

.theme-atom .theme-border{
    border-color: black !important;
}

.theme-atom .theme-dark-border, input[type="text"] {
    border-color: black !important;
}

.theme-atom .go-button{
    background: #1d1f21;
}

.theme-atom .no-button {
    background: #31343F;
}

.theme-atom .go-button:hover,
.theme-atom .no-button:hover {
    outline: 2px solid white;
}
.theme-atom button:active {
    background-color: white;
}

.theme-atom a{
    color: #9a9a9a;
}

.theme-atom input[type="text"]:focus {
    border-color: rgb(239, 234, 225) !important;
}

.theme-atom *::-webkit-scrollbar-track {
    border-color: #1D1F21;
    background: #1D1F21;
}

.theme-atom *::-webkit-scrollbar-thumb {
    background: #292C2F;
}

.theme-atom *::-webkit-scrollbar-thumb:hover {
    background: #292C2F;
}

.theme-atom .modal {
    background: #303030;
}
.theme-atom .tree li.file a {
    color: #aaaaaa;
}
.theme-atom .tree .plus {
    color: #2BDA77;
}
.theme-atom .tree li.file a:hover {
    color: #2BDA77;
}
/* ---------------- */


/* Codepen inspired theme */
.theme-codepen .theme-dark{
    background: black;
    border: none;
}

.theme-codepen .theme-mid{
    background: #1A1C1D;
    border: none;
}

.theme-codepen .theme-light{
    background: #1A1C1D;
    border: none;
    border-right: 1px #343436 solid;

}

.theme-codepen .theme-font-primary{
    color : white;
}

.theme-codepen .theme-font-secondary{
    color: rgb(239, 234, 225);
}

.theme-codepen .theme-border{
    border-color: #343436 !important;
}

.theme-codepen .theme-dark-border, input[type="text"] {
    border-color: #343436 !important;
}

.theme-codepen .go-button{
    background: #343436;
}

.theme-codepen .no-button {
    background: #47CF73;
}

.theme-codepen .go-button:hover{
    background: #4d4d50;
    outline: none;

}
.theme-codepen .no-button:hover {
    background: #2fb45a;
    outline: none;
}
.theme-codepen button:active {
    background-color: white;
}

.theme-codepen a{
    color: #9a9a9a;
}

.theme-codepen input[type="text"]:focus {
    border-color: rgb(239, 234, 225) !important;
}

.theme-codepen *::-webkit-scrollbar-track {
    border-color: #1D1F20;
    background: #1D1F20;
}

.theme-codepen *::-webkit-scrollbar-thumb {
    background: #666666;
}

.theme-codepen *::-webkit-scrollbar-thumb:hover {
    background: #666666;
}

.theme-codepen .modal {
    background: white;
    border: none;
    color: black;
}
.theme-codepen .plus {
    color: #81c08b;
}
.theme-codepen li.file a:hover {
    color: #81c08b;
}
/* ---------------- */


/* Brackets inspired theme */
.theme-brackets .theme-dark{
    background: #3C3F41;
    border: none;
}

.theme-brackets .theme-mid{
    background: #1C1C1E;
    border: none;
}

.theme-brackets .theme-light{
    background: #47484B;
    border: none;
    border-right: 1px #343436 solid;

}

.theme-brackets .theme-font-primary{
    color : white;
}

.theme-brackets .theme-font-secondary{
    color: rgb(239, 234, 225);
}

.theme-brackets .theme-border{
    border-color: rgba(255,255,255,0.05) !important;
}

.theme-brackets .theme-dark-border, input[type="text"] {
    border-color: #343436 !important;
}

.theme-brackets .go-button{
    background: #343436;
}

.theme-brackets .no-button {
    background: #8fddff;
}

.theme-brackets .go-button:hover{
    background: #4d4d50;
    outline: none;

}
.theme-brackets .no-button:hover {
    background: #74b2cc;
    outline: none;
}
.theme-brackets button:active {
    background-color: white;
}

.theme-brackets a{
    color: #9a9a9a;
}

.theme-brackets input[type="text"]:focus {
    border-color: rgb(239, 234, 225) !important;
}

.theme-brackets *::-webkit-scrollbar-track {
    border-color: #1D1F20;
    background: #1D1F20;
}

.theme-brackets *::-webkit-scrollbar-thumb {
    background: #666666;
}

.theme-brackets *::-webkit-scrollbar-thumb:hover {
    background: #666666;
}

.theme-brackets .modal {
    background: black;
    color: white;
    border: none;
}
.theme-brackets .plus {
    color: #8fddff;
}
.theme-brackets li.file a:hover {
    color: #8fddff;
}
/* ---------------- */