/* Atom-inspired theme */
.theme-atom .theme-dark{
    background: #222222;
    border: 1px black solid;
}

.theme-atom .theme-mid{
    background: #292c2f;
    border: 1px black solid;
}

.theme-atom .theme-light{
    background: #303030;
    border: 1px black solid;
}

.theme-atom .theme-font-primary{
    color : white;
}

.theme-atom .theme-font-secondary{
    color: rgb(239, 234, 225);
}

.theme-atom .theme-border{
    border-color: black !important;
}

.theme-atom .theme-dark-border, input[type="text"] {
    border-color: black !important;
}

.theme-atom .go-button{
    background: #16191c;
    outline: solid #31343F 1px;
}

.theme-atom .no-button {
    background: #31343F;
    outline: solid #16191c 1px;
}

.theme-atom .go-button:active,
.theme-atom .no-button:active {
    transform: scale(0.95)
}

.theme-atom a{
    color: #9a9a9a;
}


.theme-atom *::-webkit-scrollbar-track {
    border-color: #1D1F21;
    background: #1D1F21;
}

.theme-atom *::-webkit-scrollbar-thumb {
    background: #292C2F;
}

.theme-atom *::-webkit-scrollbar-thumb:hover {
    background: #292C2F;
}

.theme-atom .modal {
    background: #303030;
}
.theme-atom .tree li.file a {
    color: #aaaaaa;
}
.theme-atom .beside.plus:hover {
    color: #2BDA77;
}
.theme-atom .beside.delete:hover {
    color: firebrick;
}
.theme-atom .tree li.file a:hover {
    color: #2BDA77;
}
/* ---------------- */